* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

main {
  display: grid;
  align-items: center;
  justify-items: center;
}

.caja-login {
  width: 600px;

  background: #F2FCFF;
  border: 2px solid #C3F1FF;
  box-sizing: border-box;
  border-radius: 30px;

}

.caja-login h1 {
text-align: center;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #5AD2AE;
}

.formulario-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin: 50px;
}

.formulario-login small {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #AFAFAF;
}

.formulario-login input {
  width: 500px;
  height: 80px;

  background: #FFFFFF;
  border: 1px solid #C3F1FF;
  box-sizing: border-box;
  border-radius: 39.5px;
}

.formulario-login button {

  width: 500px;
  height: 80px;

  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 39.5px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}


.formulario-login button:hover {
  cursor: pointer;
  background: #469F85;
}

.formulario-login small {
  color: gray;
}


.formulario-login input::placeholder {
  padding-left: 25px;
 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #5AD2AE;
  opacity: 1;
}