<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <Link rel="stylesheet" href="./styles.css">
</head>
<body>
    <main class="caja_principal">
        <header>
            <h1>CAJA DE HERRAMIENTAS</h1>
        </header>
        <div class="caja_inferior">
            <section class="cont_sec">
                <H1>CONTENIDO <BR>SECUNDARIO</BR></H1>
            </section>
            <section class="caj_der">
                <section class="sub_barra">
                    <h1>SUB BARRA DE HERRAMIENTAS</h1>
                </section>
                <section class="layout">
                </section>
            </section>  
        </div>
    </main>
</body>
</html>