<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <Link rel="stylesheet" href="./styles.css">
</head>
<body>
    <main class="caja_principal">
        <header>
            <h1 class="titPrin">ZAFARI</h1>
        </header>
        <div class="caja_inferior">
            <section class="cont_sec">
                <H1 id="Home">HOME</H1>
                <H1 id="WhatZapp">WHATZAPP </H1>
                <H1 id="Zpotify">ZPOTIFY </H1>
            </section>
            <section class="caj_der">
                <section class="sub_barra">
                    <h1 id="Titulo">HOME</h1>
                </section>
                <section class="layout">
                    <iframe class="IF" id="iFrame" src="../Home/index.html" frameborder="0"></iframe>

                </section>
            </section>  
        </div>
        <script src="./index.js"></script>
    </main>
</body>
</html>