body {
    margin: 0 auto;
    width: 1440px;
    height: 1024px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 0 2;
    text-align: center;
}

.caja_principal {

    width: 1440px;
    height: 1024px;

    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.titPrin{
    margin-top: 83px;

}

header {
    width: 1430px;
    height: 225px;

    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.caja_inferior {
    width: 1430px;
    height: 789px;

    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;

}

.cont_sec {
    width: 428px;
    height: 779px;

    background: #FFFFFF;
    border: 5px solid #5DFF11;
    box-sizing: border-box;
    float: left;
    text-align: left;
    padding-left: 25px;
}

.caj_der {
    width: 993px;
    height: 779px;

    background: #FFFFFF;
    border: 5px solid #231FFF;
    box-sizing: border-box;
    margin-left: 428px;
}

.sub_barra {
    width: 983px;
    height: 176px;

    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.layout {
    width: 983px;
    height: 593px;

    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.IF {
    width: 978px;
    height: 588px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
}